*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//*********************Обнуление***************
$black:#070707;

body{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	scroll-behavior: smooth;
	height: auto;
	position: relative;
}

.container{
   max-width: 950px;
	margin: 0 auto;
	padding: 0 10px;
}

.header{
	position: fixed;
	background-color:#fff;
	z-index: 7;
	top: 0;
	width: 100%;

	&__container{
		border-bottom: 1px solid #828282;
		// padding:33px 0 33px 0 ;
		// margin-bottom: 3px;
		padding-top: 33px;
		padding-bottom: 33px;
	}

	ul{
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 20%;
	}
	
	&__link{
		line-height: 22px;
		font-weight: 700;

		&>a{
			color: #828282;
		}

		&_active,&:hover {
			&>a{
				transition-duration: 0.7s;
				color: #070707;
			}
		}
	}

	&__burger{
		display: none;
	}
}

.main{
	padding-top: 89px;
}

.person{
	padding: 40px 0 105px 0;

	&__info{
		display: flex;
		justify-content: space-between;
		flex:0 0 33.333%;
		align-items: center;
	}

	&__name{
		font-size: 48px;
		line-height: 59px;
		color: $black;
		font-weight: 700;
		padding: 0 0 45px 0;
	}

	&__career{
		color: $black;
		font-size: 18px;
		line-height: 22px;
		color: $black;
	}

	&__langueges{
		transform: rotate(-90deg);
		a{
			color: #828282;
			font-size: 16px;
			line-height: 20px;
		}
	}

	
	.person__lang_active, .person__lang:hover{
			color:$black ;
	}

	&__photo{
		max-width: 100%;

		img{
			max-width: 100%;
		}
	}

	&__invisible{
		display: none;
	}
}

.about{
	background-color: #f6f6f6;
	padding: 110px 0 110px 0;
	text-align: center;

	&__info{
		color: #070707;
		font-size: 18px;
		line-height: 22px;

		p{
			margin-bottom: 50px;
		}

		p:last-child{
			margin-bottom: 0;
		}
	}

	&__title{
		margin-bottom: 18px;
	}
}

.title{
	color: #070707;
	font-size: 34px;
	font-weight: 700;
	line-height: 42px;
}

.skills{
	padding: 90px 0 110px 0;
	text-align: center;

	&__title{
		margin: 0 0 69px 0;
	}

	&__subtitle{
		font-size: 18px;
		line-height: 22px;
		color: $black;
	}

	&__cards{
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex: 0 0 25%;
		margin: 44px 0 0 0;
	}

	&__icon{
		display: block;
		max-width: 100%;
		margin: 0 0 24px 0;
	}

	&__name{
		color: #828282;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
	}

	&__card{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items:center;
		transition-duration: 0.5s;

		&:hover{
			transform: translate(5px, -5px);
			// box-shadow: 5px 5px 15px$black;
		}
	}

	&__stars{
		display: block;
		margin: 42px 0 0 0;
	}
}

.portfolio{
	background-color: #f6f6f6;
	padding: 110px 0 95px 0;
	text-align: center;

	&__examples{
		margin-top: 45px;
	}

	&__example{
		margin-bottom: 99px;

		a{
			color: $black;
			font-size: 18px;
			line-height: 22px;
			text-decoration: underline;
			transition-duration: 0.3s;

			&:hover{
				color: #828282;
			}
		}

		img{
			display: block;
			margin-bottom: 45px;
			max-width: 100%;
		}
	}

	&__example:last-child{
		margin: 0;
	}
}

.contacts {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 115px 0 80px 0;
	text-align: center;

	&__text{
		margin-bottom: 86px;
	}

	&__subtitle{
		font-size: 18px;
		line-height: 22px;
		color: $black;
		margin-bottom: 30px;
	}

	&__button{
		display: inline-block;
		background-color: $black;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		padding: 10px 30px;
		border-radius:	20px;
		transition-duration: 0.5s;

		&:hover{
			color: $black;
			background-color: #fff;
			box-shadow: 6px 2px 5px #8a8a8a;
		}
	}

	&__links{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin-bottom: 45px;
	}

	&__icon{
		transition: 0.5s;

		&:hover{
			transform: translate(5px, -5px);
		}
	}

	&__appeal{
		font-size: 14px;
		line-height: 17px;
		color: #828282;

		a{
			color: inherit;
			transition: 0.3s;

			&:hover{
				text-decoration:underline;
				color: $black;
			}
		}
	}

	&__title{
		margin-bottom: 20px;
	}
}


@import "adaptive.scss";